.container {
	width: 100%;
}
.card-section {
	display: flex;
	position: relative;
}
.main {
	margin: 10px 0px;
}

.blog-section {
	margin: 20px;
}

@media only screen and (max-width: 600px) {
	.card-section {
		display: flex;
		flex-direction: column;
	}
}
